<h2 id="apropos">Nicolas RAMOND</h2>
<br>
<div class="aproposLeft">
  <img class="photo_profil" src="images\profil.png" class="opacity">
</div>
<div class="aproposRight">
  <p><i class="material-icons md-18">business_center</i> Développeur architecte junior</p>
  <p><i class="material-icons md-18">place</i> 6 lotissements de Bénèche 81430 Villefranche d’ Albigeois</p>
  <p><i class="material-icons md-18">call</i>
    <a href="callto:06.77.03.25.79"> 06.77.03.25.79</a>
  </p>
  <p><i class="material-icons md-18">mail outline</i>
    <a href="mailto:nicolasramond21@gmail.com"> nicolasramond21@gmail.com</a>
  </p>
  <p><i class="material-icons md-18">cake</i> 07 novembre 1994</p>
  <p><i class="material-icons md-18">directions_car</i> Permis B</p>
</div>
<div style="float:left;">
  <hr>
  <p>&nbsp;&nbsp;&nbsp;Bienvenue sur mon site CV ! Passionné de web et nouvelles technologies, ce n'est pourtant pas dans cette direction que j'avais orienté mon projet professionnel. Après avoir effectué trois ans d'études en baccalauréat professionnel  je compris que je m'étais trompé de voie, je me suis donc réorienté vers un BTS informatique, où j'ai eu la chance d'effectuer un stage et un projet de fin d'étude sur les technologies mobiles ce qui déclencha mon attrait actuel pour le développement (et me permit de décrocher mon premier emploi). Ainsi je me suis orienté vers des architectures toujours plus complexe et ai donc choisi d'intégrer le cursus d'ingénieur du CNAM de Toulouse. Je suis fier du chemin parcouru et conscient que rien de tous cela n'aurai été possible sans être passionné.</p>
</div>
