<h2 id="apropos">A propos</h2>
<div class="aproposLeft">
  <img src="images\ic_account_circle_48pt_3x.png" class="opacity">
</div>
<div class="aproposRight">
  <p><i class="material-icons md-18">place</i> 6 lotissements de Bénèche 81430 Villefranche d’ Albigeois</p>
  <p><i class="material-icons md-18">call</i>
    <a href="callto:06.77.03.25.79"> 06.77.03.25.79</a>
  </p>
  <p><i class="material-icons md-18">mail outline</i>
    <a href="mailto:nicolasramond21@gmail.com"> nicolasramond21@gmail.com</a>
  </p>
  <p><i class="material-icons md-18">cake</i> 07 novembre 1994</p>
  <p><i class="material-icons md-18">directions_car</i> Permis B</p>
</div>
