<h3 class="sousTitre">Compétences</h3>
<div class="col-lg-6">
  <h4>Langages et Framework</h4>
  <ul class="skills">
    <li class="skill">JavaScript <span class="skill-5"></span></li>
    <li class="skill">HTML5, CSS3 <span class="skill-5"></span></li>
    <li class="skill">JAVA <span class="skill-4"></span></li>
    <li class="skill">Backbone.js <span class="skill-4"></span></li>
    <li class="skill">PHP <span class="skill-3"></span></li>
    <li class="skill">Android <span class="skill-3"></span></li>
    <li class="skill">C++ <span class="skill-3"></span></li>
  </ul>
  <h4>Bureautique</h4>
  <ul class="skills">
    <li class="skill">Pack Office <span class="skill-4"></span></li>
    <li class="skill">PhotoShop <span class="skill-1"></span></li>
  </ul>
  <h4>Langues</h4>
  <ul class="skills">
    <li class="skill">Anglais <span class="skill-4"></span></li>
  </ul>
</div>
<div class="col-lg-6">
  <h4>Outils</h4>
  <ul class="skills">
    <li class="skill">Git <span class="skill-3"></span></li>
    <li class="skill">JIRA (agile) <span class="skill-3"></span></li>
  </ul>
  <h4>Base de données</h4>
  <ul class="skills">
    <li class="skill">MySQL <span class="skill-3"></span></li>
  </ul>
  <h4>Analyse</h4>
  <ul class="skills">
    <li class="skill">UML <span class="skill-3"></span></li>
  </ul>
  <h4>Système d'exploitation</h4>
  <ul class="skills">
    <li class="skill">Windows <span class="skill-4"></span></li>
    <li class="skill">Linux <span class="skill-3"></span></li>
    <li class="skill">Mac OS <span class="skill-2"></span></li>
  </ul>
</div>
