<h3 class="text-muted">
  <a href="data/CV Nicolas RAMOND.pdf" target="_blank" id="cv" type="button" class="btn btn-info pull-right">Télécharger mon CV
    <i class="material-icons md-24">file_download</i>
  </a>
</h3>
<ul class="nav nav-pills">
  <li id="autoScroll"><a href="javascript:void(0)" pos="apropos">A propos</a></li>
  <li id="autoScroll"><a href="javascript:void(0)" pos="competences">Compétences</a></li>
  <li id="autoScroll"><a href="javascript:void(0)" pos="experience">Expériences</a></li>
</ul>
