$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    background: #dcdfe2 url(../images/background.jpg);
  }
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    background-color: #fff;
    border-radius: 5px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.apropos{
  border-radius: 6px;
  background-color: #eeeeee;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 270px;
}
i{
  vertical-align: middle;
}
.opacity{
  opacity: 0.8;
}
.aproposLeft{
  float: left;
}
.aproposRight{
  float: left;
  margin: 0 0 0 10px;
  padding: 15px;
}
.sousTitre{
  color:#6FA0CB;
}
.skills{
  margin: 10px 0 0 -10px;
  list-style: none;
}
.skill span {
  float: right;
  margin-right: 5px;
  width: 92px;
  height: 16px;
  -webkit-filter: hue-rotate(210deg);
}
.skill{
  margin-bottom: 3px;
}
.skill-1{
  background: url(../images/skills.png) -92px -64px;
}
.skill-2{
  background: url(../images/skills.png) -92px -48px;
}
.skill-3{
  background: url(../images/skills.png) -92px -32px;
}
.skill-4{
  background: url(../images/skills.png) -92px -16px;
}
.skill-5{
  background: url(../images/skills.png) -92px 0;
}
